# **Data Collection and Pre Processessing**

**Drive Mount**

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Import Libraries**

In [58]:
import numpy as np
import pandas as pd

**Load Dataset**

In [59]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/drive/MyDrive/Batch 23/mail_data.csv')

In [60]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [61]:
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [62]:
# printing the first 5 rows of the dataframe
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [63]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

**One Hot Encoding**

In [64]:
from sklearn.preprocessing import LabelBinarizer

In [65]:
mail_cat=mail_data['Category']
mail_cat

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object

In [66]:
LB = LabelBinarizer()
mail_category = LB.fit_transform(mail_cat)

In [67]:
mail_category

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [0]])

In [68]:
LB.classes_

array(['ham', 'spam'], dtype='<U4')

Ham Will be reprecented - 0 / Spam Will be reprecented - 1

In [69]:
#create new column with encorded data and drop category column
mail_data['mail_category']=mail_category

In [70]:
mail_data.drop(['Category'],axis=1)

                                                Message  mail_category
0     Go until jurong point, crazy.. Available only ...              0
1                         Ok lar... Joking wif u oni...              0
2     Free entry in 2 a wkly comp to win FA Cup fina...              1
3     U dun say so early hor... U c already then say...              0
4     Nah I don't think he goes to usf, he lives aro...              0
...                                                 ...            ...
5567  This is the 2nd time we have tried 2 contact u...              1
5568               Will Ã¼ b going to esplanade fr home?              0
5569  Pity, * was in mood for that. So...any other s...              0
5570  The guy did some bitching but I acted like i'd...              0
5571                         Rofl. Its true to its name              0

[5572 rows x 2 columns]

In [71]:
mail_data

,Category,Message,mail_category
0,ham,"Go until jurong point, crazy.. Available only ...",0
1,ham,Ok lar... Joking wif u oni...,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1
3,ham,U dun say so early hor... U c already then say...,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",0
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,1
5568,ham,Will Ã¼ b going to esplanade fr home?,0
5569,ham,"Pity, * was in mood for that. So...any other s...",0
5570,ham,The guy did some bitching but I acted like i'd...,0
5571,ham,Rofl. Its true to its name,0

In [72]:
# separating the data as texts and label

X = mail_data['Message']

Y = mail_data['mail_category']

In [73]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [74]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: mail_category, Length: 5572, dtype: int64

**Feature Extraction**

In [75]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [76]:
# transform the text data to feature vectors that can be used as input to the Logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_features = feature_extraction.fit_transform(X)

In [77]:
print(X_features)

  (0, 8079)	0.1961033223643189
  (0, 1061)	0.35097479377088364
  (0, 3511)	0.16453831818791093
  (0, 2003)	0.29650492406235857
  (0, 1713)	0.3350433781715565
  (0, 4370)	0.29650492406235857
  (0, 8281)	0.23740715800944148
  (0, 3551)	0.19387866945820545
  (0, 1715)	0.29650492406235857
  (0, 1281)	0.26251769953088055
  (0, 2278)	0.27180581777101714
  (0, 5775)	0.27451666535585145
  (0, 4244)	0.35097479377088364
  (1, 5399)	0.5466243141314314
  (1, 8187)	0.43162957585464123
  (1, 4212)	0.5236804332035243
  (1, 4406)	0.4083258549263009
  (1, 5373)	0.2718944069420321
  (2, 77)	0.23775471426296338
  (2, 1138)	0.1708958200698438
  (2, 6100)	0.1708958200698438
  (2, 7750)	0.12585247610650566
  (2, 7073)	0.19910160498748308
  (2, 6048)	0.1809617113309815
  (2, 6154)	0.16925521015250053
  :	:
  (5567, 464)	0.2345392769367673
  (5567, 5146)	0.2445509910362817
  (5567, 8256)	0.1919079652601193
  (5567, 2009)	0.18662411374983587
  (5567, 5930)	0.1961944081157334
  (5567, 6100)	0.23094798261273555
  (5568, 2917)	0.6485991737677518
  (5568, 3263)	0.5597098620657655
  (5568, 3480)	0.3642369776828009
  (5568, 3809)	0.3652059777476414
  (5569, 7213)	0.6095307789831879
  (5569, 5707)	0.6095307789831879
  (5569, 5018)	0.5068968918274174
  (5570, 1511)	0.42657930865550353
  (5570, 908)	0.40721605986134385
  (5570, 4063)	0.35475111861632075
  (5570, 3605)	0.30408849117263737
  (5570, 1749)	0.35475111861632075
  (5570, 3388)	0.3451679596114425
  (5570, 2542)	0.23105123281877282
  (5570, 4508)	0.19998200231369734
  (5570, 8125)	0.23564264513684635
  (5570, 3276)	0.19998200231369734
  (5571, 6362)	0.7963273037972378
  (5571, 7705)	0.6048659564126764

# **Splitting the data into training data & test data**

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, Y_train, Y_test = train_test_split(X_features, Y, test_size=0.2, random_state=450)

In [80]:
print(X_features.shape)
print(X_train.shape)
print(X_test.shape)

(5572, 8440)
(4457, 8440)
(1115, 8440)

# **Train the Model**

**Logistic Regression**

In [81]:
from sklearn.linear_model import LogisticRegression

In [82]:
model = LogisticRegression()

In [83]:
# training the Logistic Regression model with the training data
model.fit(X_train, Y_train)

LogisticRegression()

**Evaluating the trained model**

In [84]:
from sklearn.metrics import accuracy_score

In [85]:
# prediction on test data

prediction_on_test_data = model.predict(X_test)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [86]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9614349775784753

In [87]:
#check overfitting and underfitting
print ('Train Accuracy - :' , model.score(X_train,Y_train)*100)
print ('Test Accuracy - :' , model.score(X_test,Y_test)*100)

Train Accuracy - : 96.72425398249945
Test Accuracy - : 96.14349775784753

**Building a Predictive System**

In [88]:
for i in range(1):
    input_mail =[input("Email -: ")]
    # convert text to feature vectors
    input_data_features = feature_extraction.transform(input_mail)
    print('\n')

    mail =model.predict(input_data_features)

    def category(mail):
        if mail==0:
            return '>>>> ham <<<<'
        elif mail==1:
            return '>>>> Spam <<<<'

    print ('Mail Category - :' , category(mail))
    print('=====================================================')

Email -: I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times


Mail Category - : >>>> ham <<<<
=====================================================

**Save Model**

In [89]:
import pickle

In [90]:
pickle.dump(model, open('/content/drive/MyDrive/Pickle files/Spam Mail Prediction Model.pkl', 'wb'))

In [93]:
pickle.dump(feature_extraction, open('/content/drive/MyDrive/Pickle files/vectorizer.pkl', 'wb'))